html {
  background: #B8EEFF;
  background: linear-gradient(#FFFFFF, #B8EEFF, #56CAFF);
}

body {
 font-family: Karla, sans-sarif;
 width: 80%;
 height: 80%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

header {
  width: 60%;
  border: .25em solid black;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto 30px auto;
  background-color: white;
}

header h1 {
  font-size: 4em;
  font-weight: bolder;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

header h2 {
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
}

header img {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5%;
  border: 0;
}

#play {
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 15%;
  background-color: white;
  font-size: 3em;
}

#play:hover {
  background-color: blue;
}
#play:focus {
  outline: none;
}

article {
  width: 90%;
  margin: 0 auto;
}

#Instructions {
  margin: 0 auto 30px;
  width: 75%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  text-align: center;
}

.GameBoard {
  margin: 0 auto;
  width: 90%;
}

.Cards {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gamePiece {
  background-color: white;
  margin: 10px;
  padding: 0
  border: 0;
}

#cowBtn:hover {
  background-color: #008000;
  border: 5px solid #008000;
}

#cowBtn:focus {
  outline: none;
}

#cowBtn {
  border: none;
  border-top-left-radius: 10%;
  height: auto;
  width: 45%;
}

#cow {
  border: 5px solid #008000;
  border-top-left-radius: 10%;
  height: auto;
  width: auto;
}

#chickenBtn:hover {
  background-color: #FF0000;
  border: 5px solid #FF0000;
}
#chickenBtn:focus {
  outline: none;
}

#chickenBtn {
  border: none;
  border-top-right-radius: 10%;
  height: auto;
  width: 45%;
}

#chicken {
  border: 5px solid #FF0000;
  border-top-right-radius: 10%;
  height: auto;
  width: auto;
}

#pigBtn:hover {
  background-color: #0000FF;
  border: 5px solid #0000FF;
}
#pigBtn:focus {
  outline: none;
}

#pigBtn {
  border: none;
  border-bottom-left-radius: 10%;
  height: auto;
  width: 45%;
}

#pig {
  border: 5px solid #0000FF;
  border-bottom-left-radius: 10%;
  margin: 0;
  height: auto;
  width: auto;
}

#goatBtn:hover {
  background-color: #FFFF00;
  border: 5px solid #FFFF00;
}
#goatBtn:focus {
  outline: none;
}

#goatBtn {
  border: none;
  border-bottom-right-radius: 10%;
  height: auto;
  width: 45%;
}

#goat {
  border: 5px solid #FFFF00;
  border-bottom-right-radius: 10%;
  margin: 5px;
  height: auto;
  width: auto;
}

footer {

  background-image: url("../images/grass.png");
  text-align: right;
  padding-top: 20px;
  width: 75%;
  margin: 0 auto;
}

h4 {
  margin-right: 25px;
}

